.post-image {
    float: right;
    height: 192px;
    width: 192px;
    margin-top: -35px;
    filter: grayscale(20%);
  }
  .post-image:hover {
    filter: grayscale(0%);
  }
  .post-image img {
    border-radius: 100px;
    height: 192px;
    width: 192px;
  }